* {
  background-image: none;
}

:root {
  --font-system: system-ui;
  --font-sans-serif: monospace;
  --font-serif: var(--font-system);
  --font-tiempos: var(--font-system);
}

[data-theme="claude"] {
  --text-000: var(--base05-hsl);
  --text-100: var(--base05-hsl);
  --text-200: var(--base06-hsl);
  --text-300: var(--base06-hsl);
  --text-400: var(--base04-hsl);
  --text-500: var(--base04-hsl);

  --bg-000: var(--base01-hsl);
  --bg-100: var(--base00-hsl);
  --bg-200: var(--base02-hsl);
  --bg-300: var(--base01-hsl);
  --bg-400: var(--base00-hsl);
  --bg-500: var(--base00-hsl);

  --border-100: var(--base04-hsl);
  --border-200: var(--base04-hsl);
  --border-300: var(--base04-hsl);
  --border-400: var(--base03-hsl);

  --accent-brand: var(--base07-hsl);
  --accent-main-000: var(--base07-hsl);
  --accent-main-100: var(--base07-hsl);
  --accent-main-200: var(--base07-hsl);
  --accent-main-900: var(--base00-hsl);
  --accent-secondary-000: var(--base07-hsl);
  --accent-secondary-100: var(--base07-hsl);
  --accent-secondary-200: var(--base07-hsl);
  --accent-secondary-900: var(--base02-hsl);
  --accent-000: var(--base07-hsl);
  --accent-100: var(--base07-hsl);
  --accent-200: var(--base07-hsl);
  --accent-900: var(--base02-hsl);
  --accent-pro-000: var(--base0F-hsl);
  --accent-pro-100: var(--base0F-hsl);
  --accent-pro-200: var(--base0F-hsl);
  --accent-pro-900: var(--base00-hsl);

  --brand-000: var(--base07-hsl);
  --brand-100: var(--base07-hsl);
  --brand-200: var(--base07-hsl);
  --brand-900: var(--base00-hsl);

  --oncolor-100: var(--base00-hsl);
  --oncolor-200: var(--base00-hsl);
  --oncolor-300: var(--base00-hsl);

  --danger-000: var(--base08-hsl);
  --danger-100: var(--base08-hsl);
  --danger-200: var(--base08-hsl);
  --danger-900: var(--base00-hsl);

  --success-000: var(--base0B-hsl);
  --success-100: var(--base0B-hsl);
  --success-200: var(--base0B-hsl);
  --success-900: var(--base00-hsl);

  --warning-000: var(--base09-hsl);
  --warning-100: var(--base09-hsl);
  --warning-200: var(--base09-hsl);
  --warning-900: var(--base00-hsl);

  --pictogram-100: var(--base03-hsl);
  --pictogram-200: var(--base04-hsl);
  --pictogram-300: var(--base01-hsl);
  --pictogram-400: var(--base00-hsl);
}
