* {
  background-image: none;
}

:root {
  --font-system: system-ui;
  --font-sans-serif: monospace;
  --font-serif: var(--font-system);
  --font-tiempos: var(--font-system);
}

[data-theme="claude"] {
  --text-000: 0 0% 97.3%;
  --text-100: 0 0% 97.3%;
  --text-200: 255 15.4% 94.9%;
  --text-300: 255 15.4% 94.9%;
  --text-400: 255 20.8% 48%;
  --text-500: 255 20.8% 48%;

  --bg-000: 255.4 49.4% 17.1%;
  --bg-100: 255.4 52.2% 13.1%;
  --bg-200: 254.7 44.2% 25.3%;
  --bg-300: 255.4 49.4% 17.1%;
  --bg-400: 255.4 52.2% 13.1%;
  --bg-500: 255.4 52.2% 13.1%;

  --border-100: 255 20.8% 48%;
  --border-200: 255 20.8% 48%;
  --border-300: 255 20.8% 48%;
  --border-400: 255 31.1% 35.3%;

  --accent-brand: 49.9 100% 49%;
  --accent-main-000: 49.9 100% 49%;
  --accent-main-100: 49.9 100% 49%;
  --accent-main-200: 49.9 100% 49%;
  --accent-main-900: 255.4 52.2% 13.1%;
  --accent-secondary-000: 49.9 100% 49%;
  --accent-secondary-100: 49.9 100% 49%;
  --accent-secondary-200: 49.9 100% 49%;
  --accent-secondary-900: 254.7 44.2% 25.3%;
  --accent-000: 49.9 100% 49%;
  --accent-100: 49.9 100% 49%;
  --accent-200: 49.9 100% 49%;
  --accent-900: 254.7 44.2% 25.3%;
  --accent-pro-000: 297.8 100% 79%;
  --accent-pro-100: 297.8 100% 79%;
  --accent-pro-200: 297.8 100% 79%;
  --accent-pro-900: 255.4 52.2% 13.1%;

  --brand-000: 49.9 100% 49%;
  --brand-100: 49.9 100% 49%;
  --brand-200: 49.9 100% 49%;
  --brand-900: 255.4 52.2% 13.1%;

  --oncolor-100: 255.4 52.2% 13.1%;
  --oncolor-200: 255.4 52.2% 13.1%;
  --oncolor-300: 255.4 52.2% 13.1%;

  --danger-000: 343.9 100% 69.2%;
  --danger-100: 343.9 100% 69.2%;
  --danger-200: 343.9 100% 69.2%;
  --danger-900: 255.4 52.2% 13.1%;

  --success-000: 108.6 100% 78.2%;
  --success-100: 108.6 100% 78.2%;
  --success-200: 108.6 100% 78.2%;
  --success-900: 255.4 52.2% 13.1%;

  --warning-000: 33.7 100% 66.5%;
  --warning-100: 33.7 100% 66.5%;
  --warning-200: 33.7 100% 66.5%;
  --warning-900: 255.4 52.2% 13.1%;

  --pictogram-100: 255 31.1% 35.3%;
  --pictogram-200: 255 20.8% 48%;
  --pictogram-300: 255.4 49.4% 17.1%;
  --pictogram-400: 255.4 52.2% 13.1%;
}
